<ul class="tag-list">
    <li class="tag-item">
        <gs-square-button class="tag-item-button vb-btn-secondary-hash-tag-text-s vb-system with-ellipsis">
            <a href="" class="action-element primary">
                <span>#jazzy</span>
            </a>
        </gs-square-button>
    </li>
    <li class="tag-item">
        <gs-square-button class="tag-item-button vb-btn-secondary-hash-tag-text-s vb-system with-ellipsis">
            <a href="" class="action-element primary">
                <span>#centralcee</span>
            </a>
        </gs-square-button>
    </li>
    <li class="tag-item">
        <gs-square-button class="tag-item-button vb-btn-secondary-hash-tag-text-s vb-system with-ellipsis">
            <a href="" class="action-element primary">
                <span>#drill</span>
            </a>
        </gs-square-button>
    </li>
</ul>