.wrapper {
    position: relative;
    display: flex;
}

.search-beats-wrapper {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 16px;
}

.menu-reference {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.search-beats-types-menu-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    font-size: 13px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (min-width: 769px) {
    .search-beats-types-menu-btn {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        font-stretch: normal;
        line-height: normal;
        color: #000;
        text-align: right;
        letter-spacing: 1.61px;
    }
}

.search-beats-types-menu-btn .icon-arrow {
    position: relative;
    top: -1px;
    color: #000;
}

::ng-deep .gs-menu {
    margin-top: 4px;
}

::ng-deep .gs-menu .mat-menu-content {
    display: flex;
    flex-direction: column;
    background-color: #262626;
}

::ng-deep .gs-menu .mat-menu-content:not(:empty) {
    padding: 0;
}

::ng-deep .gs-menu .mat-menu-content button.search-menu-btn-beats {
    width: 100%;
    max-height: 32px;
    padding: 6px 0 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

::ng-deep .gs-menu .mat-menu-content button.search-menu-btn-beats:hover {
    color: #fff;
    background-color: #191919;
}