<div class="wrapper search-beats-wrapper">
    <div class="menu-reference" [matMenuTriggerFor]="menu" #searchTrigger="matMenuTrigger"></div>
    <button class="search-beats-types-menu-btn" [matMenuTriggerFor]="menu" #searchTrigger="matMenuTrigger" type="button">
        <span>{{searchString}}</span>
        <mat-icon class="icon-arrow">expand_more</mat-icon>
    </button>
</div>
<mat-menu #menu="matMenu" xPosition="before" class="gs-menu">
    <button (click)="setSearchString(option)" *ngFor="let option of options" class="search-menu-btn-beats" mat-menu-item>
        {{option}}
    </button>
</mat-menu>
