<div class="page-container">
    <img id="not-found" src="" alt="">
    <div class="overlay"></div>
    <div class="padding-container">
        <div class="max-width-container">
            <div class="text">
                <span class="title">404</span>
                <span class="subtitle">Page not found</span>
            </div>
            <div class="actions">
                <button mat-button routerLink="/" routerLinkActive="router-link-active" ></button>
            </div>
        </div>
    </div>
</div>