<gs-dashboard-panel>
    <span class="title">Learn</span>
    <div class="content">
        <div class="wrapper">
            <p class="title">How To Customize Your BeatStars Pro Page</p>
            <p class="date">Posted on 24 Jan. by BeatStars</p>
            <youtube-player
                videoId="ZRPjXPwwZpw"
            ></youtube-player>
            <a href="https://www.youtube.com/playlist?list=PL4SzJ6kpdImg7Ze6OenGonbqP_jD7A1A9" mat-button target="_blank">MORE TUTORIALS</a>
        </div>
    </div>
</gs-dashboard-panel>