<div class="track-list-container">
  <ul>
    <li>
      <div class="col1">
        <div class="col-play">
          <span class="number"></span>
        </div>
        <img src="" alt="Track image cover" class="track-image">
        <div class="track-info">
          <a href="" class="title">
            <span class="title-content">Code Snipper | FREE *HARD* (SupaFIre)</span>
          </a>
          <div class="musician-container">
            <div class="musician desktop">
              <span class="">by</span>
              <a href="/" class=""> gomacij </a>
               &nbsp;•&nbsp;360 BPM
              •&nbsp;2 plays
            </div>
          </div>
        </div>
      </div>
      <div class="col2">
        <div class="col2">
          <span class="tags-container">
            <a class="tag" href="/">
              <p>#drake</p>
            </a>
            <a class="tag" href="/">
              <p>#educational</p>
            </a>
          </span>
        </div>
      </div>
      <div class="col3"></div>
      <div class="col4"></div>
    </li>
  </ul>
</div>