<div role="button" class="wrapper-button-new-message">
  <gs-square-button buttontype="button" class="message-button vb-system vb-btn-secondary-text-m">
    <button type="button" tabindex="0"
      class="action-element primary"
      (click)="openMessageDialog()">
      <mat-icon class="message-icon vb-icon-direct-message-m-regular-solid vb-margin-l-none vb-margin-r-none">
        email
      </mat-icon>
      <span
       class="message-content">Message</span>
    </button>
  </gs-square-button>
</div>