:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    color: var(--item-subtitle,var(--bs-gray-40));
}

@media (min-width: 480px) {
    :host {
        justify-content: flex-start;
    }
}


:host span.name {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}