<gs-auth-wrapper>
    <h1>Register</h1>
    <div class="content">
        <form (ngSubmit)="register()" autocomplete="off" [formGroup]="registerForm">
            <gs-text-input formControlName="username" [label]="'Username'"></gs-text-input>
            <gs-text-input formControlName="email" [label]="'Email'"></gs-text-input>
            <gs-text-input formControlName="password" [label]="'Password'" [type]="'Password'"></gs-text-input>
            <gs-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'Password'"></gs-text-input>

            <gs-square-button class="btn-sign-up">
                <button type="submit" class="action-element primary" [disabled]="registerForm.invalid">Create account</button>
            </gs-square-button>
            
        </form>
    </div>
</gs-auth-wrapper>