<gs-auth-wrapper>
    <h1>Login</h1>
    <div class="content">
        <form autocomplete="off" (ngSubmit)="login()" [formGroup]="loginForm">
            <gs-text-input formControlName="email" [label]="'Email'"></gs-text-input>
            <gs-text-input formControlName="password" [label]="'Password'" [type]="'Password'"></gs-text-input>
            
            <gs-square-button class="btn-login">
                <button type="submit" class="action-element primary" [disabled]="loginForm.invalid">Login</button>
            </gs-square-button>
        </form>
    </div>
</gs-auth-wrapper>