<gs-auth-wrapper>
    <h1>Login</h1>
    <div class="content">
        <form autocomplete="off" (ngSubmit)="login()">
            <div class="form-group">
                <gs-text-input>
                    <label for="input-1">Email</label>
                    <input type="text" placeHolder="Enter your email" id="input-1" tabindex="1" name="email"
                        [(ngModel)]="model.email" />
                </gs-text-input>
            </div>

            <div class="form-group">
                <gs-text-input>
                    <label for="input-2">Password</label>
                    <input type="password" placeHolder="Enter your password" id="input-2" tabindex="2" name="password"
                        [(ngModel)]="model.password" />
                </gs-text-input>
            </div>
            
            <gs-square-button class="btn-login">
                <button type="submit" class="action-element primary">Login</button>
            </gs-square-button>
        </form>
    </div>
</gs-auth-wrapper>