<gs-container-grid class="search-container vb-padding-l-none vb-padding-r-none">
    <gs-search-header class="search-header">
        <span class="header-title"> All Categories </span>
    </gs-search-header>
    <div class="search-results-container">
        <div class="wrapper-all-categories">
            <gs-swiper-list-tracks class="swiper-list" [tracks]="tracks$ | async"></gs-swiper-list-tracks>
            <gs-swiper-list-members class="swiper-list"></gs-swiper-list-members>
            <gs-swiper-list-sound-kits class="swiper-list"></gs-swiper-list-sound-kits>
            <gs-swiper-list-vsts class="swiper-list"></gs-swiper-list-vsts>
        </div>
    </div>
</gs-container-grid>
