<div class="search">
    <form action="" id="form-search-top-nav" autocomplete="off" (ngSubmit)="onSearch()">
        <button id="btn-search-top-nav" mat-icon-button disableRipple="" class="btn-search" type="submit"><mat-icon class="icon-search">search</mat-icon></button>
        <input #searchTopNav type="text" id="input-search-top-nav" placeholder="Search track...">
        <gs-menu menuclass="search-types-menu-btn" class="search-types-menu" wrapperclass="search-wrapper"></gs-menu>
    </form>
</div>