a {
    text-decoration: none;
}

.top-nav {
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: space-between;
    max-height: 104px;
    max-width: 1300px;
    padding: 0;
    width: 100%;
}

@media (min-width: 769px) {
    .top-nav {
        height: 70px;
        max-height: 70px;
    }
}

@media (min-width: 1280px) {
    .top-nav {
        align-items: stretch;
        height: 104px;
        max-height: 104px;
    }
}



.top {
    flex-direction: row;
    justify-content: space-between;
}
.top, .top .left {
    display: flex;
    width: 100%;
}
.top .left {
    align-items: center;
    height: 55px;
    padding-left: 16px;
    max-width: 672px;
    padding-right: 32px;
}

@media (min-width: 769px) {
    .top .left {
        height: 70px;
    }
}

@media (min-width: 1280px) {
    .top .left {
        height: auto;
        padding-left: 24px;
        padding-top: 16px;
    }
}

@media (min-width: 1348px) {
    .top .left {
        padding-left: 0px;
    }
}

.top .left .logo {
    display: flex;
    position: relative;
    z-index: 1;
}

.top .left .logo, .top .left .logo img {
    height: 24px;
    width: 24px;
}

.top .left .btn-menu {
    background: transparent;
    border: none;
    bottom: 17px;
    cursor: pointer;
    margin-right: 16px;
    position: absolute;
    z-index: 1;
}

.top .left .btn-menu .icon-hamburger {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 2px;
}

@media (min-width: 769px) {
    .top .left .btn-menu {
        bottom: unset;
        margin-right: 16px;
        position: relative;
    }
}

@media (min-width: 1280px) {
    .top .left .btn-menu {
        display: none;
    }
}

.top .right {
    align-items: center;
    display: flex;
    height: 55px;
    justify-content: flex-end;
    padding-right: 16px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

@media (min-width: 769px) {
    .top .right {
        height: 70px;
    }
}

@media (min-width: 1280px) {
    .top .right {
        height: auto;
        justify-content: stretch;
        padding-right: 24px;
        padding-top: 16px;
    }
}

@media (min-width: 1348px) {
    .top .right {
        padding-right: 8px;
    }
}

.top .right .authenticated-actions {
    align-items: center;
    display: flex;
    height: 100%;
}

.top .right .btn-upload {
    align-items: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: normal;
    padding: 8px 12px;
    transform: translateY(0) translateX(0);
}

.top .right .btn-upload .icon-plus-medium {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
}

@media (min-width: 769px) {
    .top .right .btn-studio,
    .top .right .btn-upload {
        color: #fff;
        font-size: 14px;
    }
}

.top .right .btn-upload {
    display: none;
}

@media (min-width: 769px) {
    .top .right .btn-upload {
        background-color: var(--gs-indigo);
        border: 1px solid var(--gs-indigo);
        display: flex;
    }
}

.divider-vertical {
    background-color: hsla(0,0%,100%,.15);
    height: calc(100% - 30px);
    margin: 10px 5px;
    width: 1px;
}

.top .right .authenticated-actions .divider-vertical, 
.top .right .non-authenticated-actions .divider-vertical {
    display: none;
    height: 25px;
    opacity: .16;
    background-color: #fff;
    margin: 0 32px;
}

@media (min-width: 769px) {
    .top .right .authenticated-actions .divider-vertical, 
    .top .right .non-authenticated-actions .divider-vertical {
        display: block;
    }
}

.top .right .profile-wrapper {
    position: relative;
}

.top .right .profile-wrapper .menu-reference {
    bottom: -16px;
    position: absolute;
    right: 0;
}

.top .right .cart-wrapper .menu-reference {
    bottom: -16px;
    position: absolute;
    right: 0;
}

.top .right .btn-cart, .top .right .btn-notifications, .top .right.btn-you {
    width: 100%;
}

@media (min-width: 769px) {
    .top .right .btn-cart, 
    .top .right .btn-cart-mobile, 
    .top .right .btn-more-options, 
    .top .right .btn-notifications, 
    .top .right .btn-notifications-mobile, 
    .top .right .btn-you {
        width: 57px;
    }
}

.top .right .btn-cart,
.top .right .btn-notifications, 
.top .right .btn-you {
    width: 100%;
}

.top .right .btn-cart-mobile:hover, 
.top .right .btn-cart:hover, 
.top .right .btn-more-options:hover, 
.top .right .btn-notifications-mobile:hover, 
.top .right .btn-notifications:hover, 
.top .right .btn-you:hover {
    background-color: hsla(0,0%,100%,.08);
    border-radius: 20px;
}

.top .right .btn-cart, 
.top .right .btn-cart-mobile, 
.top .right .btn-more-options, 
.top .right .btn-notifications, 
.top .right .btn-notifications-mobile,
.top .right .btn-you {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 12px;
    transform: translateY(0) translateX(0);
}

.top .right .btn-cart-mobile .icon, 
.top .right .btn-cart .icon, 
.top .right .btn-more-options .icon, 
.top .right .btn-notifications-mobile .icon, 
.top .right .btn-notifications .icon, 
.top .right .btn-you .icon {
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: center;
    position: relative;
}

.top .right .btn-cart-mobile mat-icon.icon-arrow-down-solid, 
.top .right .btn-cart mat-icon.icon-arrow-down-solid, 
.top .right .btn-more-options mat-icon.icon-arrow-down-solid, 
.top .right .btn-notifications-mobile mat-icon.icon-arrow-down-solid, 
.top .right .btn-notifications mat-icon.icon-arrow-down-solid, 
.top .right .btn-you mat-icon.icon-arrow-down-solid {
    display: none;
}

@media (min-width: 769px) {
    .top .right .btn-cart-mobile mat-icon.icon-arrow-down-solid, 
    .top .right .btn-cart mat-icon.icon-arrow-down-solid, 
    .top .right .btn-more-options mat-icon.icon-arrow-down-solid, 
    .top .right .btn-notifications-mobile mat-icon.icon-arrow-down-solid, 
    .top .right .btn-notifications mat-icon.icon-arrow-down-solid, 
    .top .right .btn-you mat-icon.icon-arrow-down-solid {
        height: auto;
        width: auto;
        color: #fff;
        display: block;
        font-size: 20px;
        margin-left: -2px;
    }
}

.top .right .btn-cart-mobile .icon mat-icon, 
.top .right .btn-cart .icon mat-icon, 
.top .right .btn-more-options .icon mat-icon, 
.top .right .btn-notifications-mobile .icon mat-icon, 
.top .right .btn-notifications .icon mat-icon, .top .right .btn-you .icon mat-icon{
    color: #fff;
}

.top .right .btn-cart-mobile .icon .user-image, .top .right .btn-cart .icon .user-image, 
.top .right .btn-more-options.icon .user-image, .top .right .btn-notifications-mobile .icon .user-image, 
.top .right .btn-notifications .icon .user-image, .top .right .btn-you .icon .user-image {
    background-size: cover;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.cart-menu.mat-menu-panel, .notifications-menu.mat-menu-panel, .upload-menu.mat-menu-panel, ::ng-deep .user-menu.mat-menu-panel {
    background-color: #000;
    border: 1px solid #262626;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 64%);
    max-width: 400px;
    min-width: 400px;
    overflow: visible;
    position: relative;
}

::ng-deep .upload-menu.mat-menu-panel .profile, ::ng-deep .user-menu.mat-menu-panel .profile {
    align-items: center;
    border-radius: 5px;
    display: flex;
    padding: 4px 8px;
}

::ng-deep .upload-menu.mat-menu-panel .profile .user-image, ::ng-deep .user-menu.mat-menu-panel .profile .user-image {
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    height: 36px;
    margin-right: 12px;
    width: 36px;
}

::ng-deep .upload-menu.mat-menu-panel .profile .info, ::ng-deep .user-menu.mat-menu-panel .profile .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::ng-deep .upload-menu.mat-menu-panel .profile .info .username, ::ng-deep .user-menu.mat-menu-panel .profile .info .username {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

::ng-deep .upload-menu.mat-menu-panel .profile .info .plan, ::ng-deep .user-menu.mat-menu-panel .profile .info .plan {
    color: #707070;
    font-size: 12px;
    letter-spacing: .1px;
    text-transform: uppercase;
}

::ng-deep .upload-menu.mat-menu-panel .divider, ::ng-deep .user-menu.mat-menu-panel .divider {
    margin: 8px 0;
    width: 100%;
}

.divider {
    background-color: #262626;
    height: 1px;
    margin: 8px 16px;
    width: calc(100% - 32px);
}

::ng-deep .upload-menu.mat-menu-panel .btn-logout, 
::ng-deep .upload-menu.mat-menu-panel .menu-item, 
::ng-deep .upload-menu.mat-menu-panel .you-menus a, 
::ng-deep .upload-menu.mat-menu-panel .you-menus button, 
::ng-deep .user-menu.mat-menu-panel .btn-logout, 
::ng-deep .user-menu.mat-menu-panel .menu-item, 
::ng-deep .user-menu.mat-menu-panel .you-menus a, 
::ng-deep .user-menu.mat-menu-panel .you-menus button {
    align-items: center;
    background: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    letter-spacing: -.12px;
    padding: 4px 8px;
    text-align: left;
    width: 100%;
}

::ng-deep .upload-menu.mat-menu-panel .btn-logout mat-icon, 
::ng-deep .upload-menu.mat-menu-panel .menu-item mat-icon, 
::ng-deep .upload-menu.mat-menu-panel .you-menus a mat-icon, 
::ng-deep .upload-menu.mat-menu-panel .you-menus button mat-icon, 
::ng-deep .user-menu.mat-menu-panel .btn-logout mat-icon, 
::ng-deep .user-menu.mat-menu-panel .menu-item mat-icon, 
::ng-deep .user-menu.mat-menu-panel .you-menus a mat-icon, 
::ng-deep .user-menu.mat-menu-panel .you-menus button mat-icon {
    color: #fff;
    font-size: 20px;
    margin-right: 12px;
}

::ng-deep .upload-menu.mat-menu-panel .btn-logout:hover, 
::ng-deep .upload-menu.mat-menu-panel .menu-item:hover, 
::ng-deep .upload-menu.mat-menu-panel .you-menus a:hover, 
::ng-deep .upload-menu.mat-menu-panel .you-menus button:hover, 
::ng-deep .user-menu.mat-menu-panel .btn-logout:hover, 
::ng-deep .user-menu.mat-menu-panel .menu-item:hover, 
::ng-deep .user-menu.mat-menu-panel .you-menus a:hover, 
::ng-deep .user-menu.mat-menu-panel .you-menus button:hover {
    background-color: hsla(0,0%,100%,.1);
}

::ng-deep .upload-menu.mat-menu-panel .profile:hover, 
::ng-deep .user-menu.mat-menu-panel .profile:hover {
    background-color: hsla(0,0%,100%,.1);
}

::ng-deep .cart-menu.mat-menu-panel, ::ng-deep .notifications-menu.mat-menu-panel, 
::ng-deep .upload-menu.mat-menu-panel, ::ng-deep .user-menu.mat-menu-panel {
    background-color: #000;
    border: 1px solid #262626;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 64%);
    max-width: 400px;
    min-width: 400px;
    overflow: visible;
    position: relative;
}

::ng-deep .upload-menu.mat-menu-panel, ::ng-deep .user-menu.mat-menu-panel {
    max-width: 230px;
    min-width: 230px;
    padding: 0 8px;
}

::ng-deep .notifications-menu.mat-menu-panel ul {
    max-height: 360px;
    overflow: auto;
}

::ng-deep .notifications-menu.mat-menu-panel .notifications-messages {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 10px 12px 12px 8px;
}

::ng-deep .notifications-menu.mat-menu-panel .notifications-messages:hover {
    background-color: hsla(0,0%,100%,.1);
}

ul {
    list-style: none;
}

::ng-deep .notifications-menu.mat-menu-panel ul li {
    margin: 0;
}

::ng-deep .notifications-menu.mat-menu-panel .notifications-messages .messages-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 52px;
    justify-content: center;
    width: 52px;
}

::ng-deep .notifications-menu.mat-menu-panel .notifications-messages .info {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 52px;
    justify-content: center;
    letter-spacing: .1px;
    padding-left: 12px;
    width: 304px;
}

::ng-deep .notifications-menu.mat-menu-panel .notifications-messages .info .info-top {
    color: #fff;
    font-weight: 500;
}

::ng-deep .notifications-menu.mat-menu-panel .notifications-messages .info .info-bottom {
    color: #707070;
}

.bottom nav.menu-options {
    display: none;
}

@media (min-width: 1280px) {
    .bottom nav.menu-options {
        align-items: center;
        display: flex;
        opacity: 1;
    }
}

.bottom nav.menu-options a {
    align-items: center;
    border-bottom: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    height: 43px;
    letter-spacing: .3px;
    line-height: 1.71;
    margin: 0 24px;
    text-transform: capitalize;
}

@media (min-width: 1348px) {
    .bottom nav.menu-options a:first-child {
        margin-left: 0;
    }
}

.bottom nav.menu-options a.activeLink, 
.bottom nav.menu-options a.link-no-menu:hover, 
.bottom nav.menu-options a.open {
    border-bottom: 2px solid #6900FF;
}

::ng-deep .mat-snack-bar-container.mat-snack-bar-center {
    align-items: center;
    max-width: 500px;
    color: #9f9f9f;
    background-color: #000;
    border: 1px solid hsla(0,0%,100%,.15);
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

::ng-deep .mat-simple-snackbar-action button {
    color: #fff;
}

::ng-deep .mat-simple-snackbar span {
    font-size: 16px;
}

::ng-deep .cart-menu.mat-menu-panel .mat-menu-content {
    display: flex;
    flex-direction: column;
    max-height: calc(var(--vh, 1vh) * 100 - 104px);
    padding-bottom: 16px;
}

::ng-deep .cart-menu.mat-menu-panel .your-cart {
    font-size: 21px;
    font-weight: 600;
    padding: 16px;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items {
    max-height: 500px;
    overflow: auto;
    padding: 0 16px;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
    max-height: 52px;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .artwork {
    border: 1px solid hsla(0,0%,100%,.08);
    max-height: 52px;
    min-width: 52px;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .artwork img {
    border-radius: 3px;
    height: 52px;
    width: 52px;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .details {
    flex: 1;
    margin-left: 12px;
    overflow: hidden;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .details .title-price {
    display: flex;
    justify-content: space-between;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .details .title-price .title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .details .price {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
}

::ng-deep .cart-menu.mat-menu-panel .cart-items ul li .details .type {
    align-items: center;
    color: #9f9f9f;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    letter-spacing: .1px;
}

::ng-deep .cart-menu.mat-menu-panel .checkout {
    display: flex;
    flex-shrink: 0;
    padding-top: 4px;
}

::ng-deep .cart-menu.mat-menu-panel .checkout button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 0;
    height: 44px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--gs-indigo);
}

:host {
    background-color: var(--gs-black);
    border-bottom: 1px solid hsla(0,0%,100%,.15);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 24%);
    display: flex;
    height: 104px;
    justify-content: center;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    transition: top .3s ease-in-out;
    transition-property: none;
    width: 100%;
    z-index: 1036;
}

@media (min-width: 769px) {
    :host {
        height: 70px;
    }
}

@media (min-width: 1280px) {
    :host {
        height: 104px;
    }
}


