<gs-swiper-list-template>
    <gs-swiper-list-title class="vb-system" [productType]="'musicians'">
        <h2 class="title">Musicians</h2>
    </gs-swiper-list-title>
    <gs-swiper>
        <swiper #swiper [config]="config" class="swiper-container">
            <ng-template *ngFor="let user of users$ | async" swiperSlide>
                <gs-card-figure-memeber [user]="user" class="swiper-slide grid-item">
                </gs-card-figure-memeber>
            </ng-template>
        </swiper>
    </gs-swiper>
</gs-swiper-list-template>