:host ::ng-deep .vb-item-action-button {
    border: none;
    margin: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .vb-item-action-button mat-icon {
    letter-spacing: 0;
    font-size: 24px;
}

:host ::ng-deep .vb-item-action-button mat-icon.activated {
    color: red;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    :host {
        flex-direction: column;
    }
}