:host {
    display: block;
}

::ng-deep .padding-container {
    position: relative;
    width: 100%;
    padding: 0 15px 15px;
    overflow: hidden;
}

@media (min-width: 480px) {
    ::ng-deep .padding-container {
        padding: 0 24px 20px;
    }
}


@media (min-width: 1348px) {
    ::ng-deep .padding-container {
        padding: 0 0 30px;
    }
}


::ng-deep .padding-container.no-padding-bottom {
    padding-bottom: 0;
}

::ng-deep .max-width-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

::ng-deep p {
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}