<label class="input-title"> Тегтер
  <span class>*
    (3)</span>
</label>
<div class="input-text">
  <div class="text">
    <input #tagsInput 
           type="text" 
           name="tag" 
           maxlength="25" 
           placeholder="Tags" 
           required
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
    <span>{{tagsInput.value.length}}/25</span>
  </div>
  <button mat-button class="btn-add-tag" [disabled]="!tagsInput.value">+ Тег қосу</button>
</div>
<div class="chip-list-container">
  <mat-chip-list #chipList>
    <mat-chip class="tag-chip" *ngFor="let tag of tags" (removed)="remove(tag)">
      <p>{{tag}}</p>
      <mat-icon class="icon-close" matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>