<figure class="card-figure">
    <div class="thumbnail-group">
        <div class="hover-thumbnail-group">
            <div class="hover-section">
                <gs-button-play-track></gs-button-play-track>
            </div>
        </div>
        <a routerLink="/{{product.productType | lowercase}}/{{product.id}}" class="figure-data">
            <div class="shadow-overlay square"></div>
            <img 
            [src]="product.image || 'assets/img/track_undefined.jpg'" 
            [alt]="product.title"
            (error)="product.image ='assets/img/track_undefined.jpg'"
            class="figure-image swiper-thumbnail">
        </a>
    </div>
    <figcaption>
        <gs-card-figcaption-template class="grid-item" [product]="product"></gs-card-figcaption-template>
    </figcaption>
</figure>