<gs-swiper-list-template>
    <gs-swiper-list-title class="vb-system">
        <h2 class="title">Sound Kits</h2>
    </gs-swiper-list-title>
    <gs-swiper>
        <swiper #swiper [config]="config" class="swiper-container">
            <ng-template *ngFor="let kit of kits$ | async | slice:0:12" swiperSlide>
                <gs-card-figure-sound-kit [kit]="kit" class="swiper-slide grid-item swiper-slide-active">
                </gs-card-figure-sound-kit>
            </ng-template>
        </swiper>
    </gs-swiper>
</gs-swiper-list-template>
