<div class="side-bar vb-col-md-span-f1-t8 vb-col-lg-span-f1-t4 vb-col-xl-span-f1-t3 vb-row-span-f2-t1 vb-row-md-span-f2-t1 vb-row-lg-span-f1-t5">
    <section class="main-info">
        <gs-member-content-item-header-template [product]="track"></gs-member-content-item-header-template>
        <gs-member-content-item-details-template [product]="track"></gs-member-content-item-details-template>
    </section>
</div>
<div class="play-button vb-col-md-span-f1-t8 vb-col-lg-span-f5-t8 vb-col-xl-span-f4-t9 vb-row-md-span-f1-t1 vb-row-lg-span-f1-t1">
    <div class="play-button-image"></div>
    <div class="play-button-equalizer"></div>
</div>
<div class="right-content vb-col-md-span-f1-t8 vb-col-lg-span-f5-t8 vb-col-xl-span-f4-t9 vb-row-md-span-f3-t1 vb-row-lg-span-f3-t1">
    <div class="licenses">
        <gs-open-close-panel-track [product]="track"></gs-open-close-panel-track>
        <gs-licenses-usage-terms></gs-licenses-usage-terms>
    </div>
    <div class="comments"></div>
</div>