<div class="component-container">
  <ng-container *ngIf="track">
    <form [formGroup]="trackUpdateForm" class="component-form" autocomplete="off">
      <gs-form-error-list></gs-form-error-list>
      <fieldset class="general-information">
        <h4>General Information</h4>
        <mat-card>
          <div class="track-form">
            <section class="track-info-section">
              <div class="track-title">
                <label class="input-title">TITLE*</label>
                <div class="input-text">
                  <input
                    type="text"
                    formControlName="title"
                    placeholder="Title"
                    maxlength="100"
                    [(ngModel)]="track.title"
                    required>
                  </div>
                  <span class="input-info">{{track.title.length}} out of 100 Maximum characters allowed</span>
              </div>
              <div class="track-tags">
                <gs-tags-input (tagsChanged)="addTrackTags($event)"></gs-tags-input>
              </div>
            </section>
            <section class="track-files-section">
              <div class="audio-files">
                <div class="track-audio-files-download">
                  <label class="input-title">AUDIO FILES FOR DOWNLOAD</label>
                  <gs-universal-upload-button>
                    <div class="drop-container">
                      <button mat-button class="btn-files" (click)="openDialog()" [class.available]="track.file">
                        <div class="wrapper">
                          <mat-icon class="button-icon icon-track-music">audiotrack</mat-icon>
                          <div class="button-text">
                            <p>Un-Tagged WAV or MP3</p>
                            <p class="files-info">.WAV (or .MP3)</p>
                          </div>
                        </div>
                      </button>
                    </div>
                  </gs-universal-upload-button>
                </div>
              </div>
              <div class="artwork-file">
                <gs-content-creation-artwork [productImage]="track.image"></gs-content-creation-artwork>
              </div>
            </section>
          </div>
        </mat-card>
      </fieldset>
      <gs-selling-preferences [track]="track"></gs-selling-preferences>
      <fieldset class="track-details">
        <h4>Track Details</h4>
        <mat-card>
          <div class="track-details-info">
            <section>
              <div class="track-primary-genre">
                <label class="input-title">PRIMARY GENRE*</label>
                <mat-form-field class="form-select">
                  <mat-select [(ngModel)]="track.genre" formControlName="genre">
                    <mat-option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</mat-option>
                  </mat-select>
                  <mat-icon class="icon-arrow material-icons">expand_more</mat-icon>
                </mat-form-field>
              </div>
              <div class="track-description">
                <label class="input-title">DESCRIPTION</label>
                <textarea #trackDescription placeholder="Enter Description" formControlName="description" maxlength="120"
                  class="textarea-input-text input-text"></textarea>
              </div>
              <span class="input-info">{{trackDescription.value.length}} out of 120 Maximum characters allowed</span>
            </section>
            <section>
              <div class="track-subgenre">
                <label class="input-title">SUBGENRE</label>
                <mat-form-field class="form-select">
                  <mat-select [(ngModel)]="track.subgenre" formControlName="subgenre">
                    <mat-option *ngFor="let subgenre of subgenres" [value]="subgenre.id">{{subgenre.name}}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="icon-arrow material-icons">expand_more</mat-icon>
                </mat-form-field>
              </div>
              <div class="track-bpm">
                <label class="input-title">BPM</label>
                <span class="input-title-info">(Beats per minute)</span>
                <div class="input-text">
                  <input type="number" formControlName="bpm" placeholder="0" min="0" max="300" step="0.01">
                </div>
              </div>
              <div class="track-key-note">
                <label class="input-title">KEY</label>
                <mat-form-field class="form-select">
                  <mat-select [(ngModel)]="track.key" formControlName="key">
                    <mat-option *ngFor="let key of keys" [value]="key.id">{{key.track_Key}}</mat-option>
                  </mat-select>
                  <mat-icon class="icon-arrow material-icons">expand_more</mat-icon>
                </mat-form-field>
              </div>
              <div>
                <p>{{trackUpdateForm.value | json}}</p>
                <p>{{trackUpdateForm.status | json}}</p>
              </div>
            </section>
          </div>
        </mat-card>
      </fieldset>
      <div class="buttons">
        <button mat-button type="button"
          class="mat-focus-indicator btn-cancel mat-button mat-button-base">
          <span class="mat-button-wrapper">
            <span class="initial">Save draft</span>
            <span class="active">Saving draft</span>
            </span>
            <span matripple class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span>
          </button>
        <button mat-button type="button" class="mat-focus-indicator btn-save mat-button mat-button-base">
          <span class="mat-button-wrapper">
            <span class="initial">Publish</span>
            <span class="active">Publishing</span>
          </span>
          <span matripple class="mat-ripple mat-button-ripple"></span>
          <span class="mat-button-focus-overlay"></span>
        </button>
      </div>
    </form>
  </ng-container>
</div>