<gs-swiper-list-template *ngIf="tracks">
    <gs-swiper-list-title class="vb-system" [productType]="'tracks'">
        <h2 class="title">Tracks</h2>
    </gs-swiper-list-title>
    <gs-swiper>
        <swiper #swiper [config]="config" class="swiper-container">
            <ng-template *ngFor="let track of tracks | slice:0:16" swiperSlide>
                <gs-card-figure-track [track]="track" [isList]="false" class="swiper-slide grid-item">
                </gs-card-figure-track>
            </ng-template>
        </swiper>
    </gs-swiper>
</gs-swiper-list-template>