<div class="padding-container">
    <div class="max-width-container">
        <div class="header">
            <span class="title">БАСҚАРУ ТАҚТАСЫ</span>
            <div class="actions">
                <button mat-button disableRipple (click)="customizable()">
                    <ng-container *ngIf="!(isDraggable$ | async)  else draggableButtonOnTemp">
                        <i class="material-icons icon-dashboard-customize">
                            tune
                        </i> Теңшеу
                    </ng-container>
                    <ng-template #draggableButtonOnTemp>
                        <i class="material-icons icon-check-thin">done</i> Теңшеуді аяқтау
                    </ng-template>
                </button>
            </div>
        </div>
        <div dragula="DASHBOARD_PANELS" class="content">
            <gs-announcement-panel class="col-2 visible block-drag"></gs-announcement-panel>
            <gs-quick-links-panel></gs-quick-links-panel>
            <gs-finish-drafts-panel></gs-finish-drafts-panel>
            <gs-latest-sales-panel></gs-latest-sales-panel>
            <gs-learn-panel></gs-learn-panel>
            <gs-quick-links-panel [addNewContent]="defaultTabButtons"></gs-quick-links-panel>
            <ng-template #defaultTabButtons></ng-template>
        </div>
    </div>
</div>