.padding-container {
    position: relative;
    width: 100%;
    padding: 0 15px 15px;
    overflow: hidden;
}

@media (min-width: 480px) {
    .padding-container {
        padding: 0 24px 20px;
    }
}
    
@media (min-width: 1348px) {
    .padding-container {
        padding: 0 0 30px;
    }
}

.max-width-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.header .title {
    margin-right: 20px;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
}

.header .actions button {
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.header .actions button i {
    margin-right: 4px;
    font-size: 20px;
    color: #fff;
}

.header .actions button i .icon-dashboard-customize{
    transform: rotate(90deg);
}

@media (max-width: 769px) {
    .header .actions button {
        display: none;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px -15px -15px;
}

.content > * {
    flex: 1;
    flex-basis: 100%;
    min-width: 0;
    margin: 15px;
    background-color: var(--gs-black);
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 12%);
}

@media (min-width: 769px) {
    .content > * {
        flex-basis: 50%;
        max-width: calc(50% - 30px);
    }
}

@media (min-width: 1024px) {
    .content > * {
        flex-basis: calc(25% - 30px);
        min-width: 235px;
    }
}

@media (min-width: 769px) {
    .content > .col-2 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1024px) {
    .content > .col-2 {
        flex-basis: 50%;
        max-width: calc(50% - 30px);
    }
}

:host {
    display: block;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
