<div id="player-container" class="player-container" [class.opened]="track">
    <gs-player-progress-bar></gs-player-progress-bar>
    <div class="player-content">
        <div class="left-side">
            <div class="playable-information">
                <gs-playable-item-info [track]="track"></gs-playable-item-info>
            </div>
            <div class="player-actions-start">
                <div class="add-playlist-content inline-flex">
                    <gs-player-add-playlist></gs-player-add-playlist>
                </div>
                <div class="add-to-cart inline-flex">
                    <gs-btn-buy-from-track [track]="track"></gs-btn-buy-from-track>
                </div>
            </div>
        </div>
        <div class="players-controls middle">
            <gs-player-shuffle></gs-player-shuffle>
            <gs-player-previous></gs-player-previous>
            <gs-player-play></gs-player-play>
            <gs-player-next></gs-player-next>
            <gs-player-repeat></gs-player-repeat>
        </div>
        <div class="right-side">
            <gs-player-volume-action></gs-player-volume-action>
            <gs-player-queue-action></gs-player-queue-action>
        </div>
    </div>
</div>
<audio #player
    crossorigin="anonymous"
    preload="metadata"
    hidden
    controls
    [attr.src]="track?.file"
    id="player">
</audio>