.panel {
    overflow: hidden;
}

.panel .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 4px;
}

::ng-deep .panel .header .title {
    color: var(--white);
    padding-left: 4px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel .header .actions {
    display: flex;
}

::ng-deep .panel .content {
    min-height: 260px;
    max-height: 296px;
    overflow: auto;
    padding: 10px 12px 0;
}

:host {
    display: block;
    position: relative;
    height: 100%;
    padding-top: 16px;
}

:host {
    padding-bottom: 10px;
    min-height: 100%;
}