.panel {
    overflow: hidden;
}

.panel .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 4px;
}

::ng-deep .panel .header .title {
    color: var(--white);
    padding-left: 4px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel .header .actions {
    display: flex;
}

::ng-deep .panel .content {
    min-height: 260px;
    max-height: 296px;
    overflow: auto;
    padding: 10px 12px 0;
}

.drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.85);
    border-radius: 3px;
}

.drag-overlay .header {
    padding: 16px;
}

.drag-overlay .header span {
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.drag-overlay .bottom, .drag-overlay .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drag-overlay .top {
    padding: 15px 30px;
    margin: 15px auto 0;
    width: auto;
    cursor: pointer;
}

.drag-overlay i {
    font-size: 48px;
    color: #fff;
}

.drag-overlay span {
    color: #fff;
    font-size: 13px;
    margin-top: 12px;
}

.drag-overlay .header span {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.drag-overlay .bottom, .drag-overlay .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drag-overlay .bottom {
    padding-top: 20px;
}

.drag-overlay i {
    font-size: 48px;
    color: #fff;
}

.drag-overlay .bottom .info {
    text-align: center;
}

:host {
    display: block;
    position: relative;
    height: 100%;
    padding-top: 16px;
}

:host {
    padding-bottom: 10px;
    min-height: 100%;
}