@import url("~@uppy/core/dist/style.min.css");
@import url("~@uppy/drag-drop/dist/style.min.css");

::ng-deep .upload-button-dialog .mat-dialog-container {
    padding: 0 !important;
}

::ng-deep .mat-dialog-content {
    height: auto;
    max-height: calc(var(--vh, 1vh) * 100)!important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

::ng-deep .mat-dialog-container {
    position: relative;
    max-width: 90vw !important;
    color: #fff;
    background-color: var(--gs-black);
    border-radius: 5px !important;
}

.dialog-nav-container {
    display: flex;
    justify-content: space-between;
}

.content {
    display: block;
    flex: 1;
    width: calc(100% - 60px);
}

.step {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
}

@media (min-width: 480px) {
    .step {
        width: 80vw;
        min-width: 280px;
        max-width: calc(80vw - 60px);
        height: 100%;
        min-height: 420px;
        max-height: 540px;
    }
}

@media (min-width: 1024px) {
    .step {
        width: 600px;
        max-width: unset;
    }
}

.step .drag-drop-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 233px;
    padding: 25px 0;
    margin: 25px;
    border: 1px dashed var(--box-shadow-dark);
    border-radius: 5px;
}

.step .drag-drop-container .drag-drop-message {
    justify-content: center;
    text-align: center;
}

.step .drag-drop-container .drag-drop-message .icons {
    text-align: center;
}

.step .drag-drop-container .drag-drop-message .icons mat-icon {
    font-size: 70px;
    width: auto;
    height: auto;
}

.step .drag-drop-container .drag-drop-message h4 {
    padding: 0;
    margin: 16px 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-text);
    text-align: center;
}

.step .uppy-box,
.step bs-loader-spinner {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.step .uppy-box {
    max-height: calc(var(--vh, 1vh) * 100);
    margin: 1px;
    overflow-y: auto;
}

.step .drag-drop-container uppy-drag-drop {
    position: absolute;
    width: 100%;
    height: 100%;
}

::ng-deep .uppy-box a,
::ng-deep .uppy-box button {
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
}

::ng-deep .uppy-DragDrop-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    opacity: 0;
}