* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    letter-spacing: .2px;
    outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --white: #fff;
    --black: #000;
    --gs-indigo: #6900FF;
}

