* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: .2px;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

a {
    text-decoration: none;
}

:root {
    --white: #fff;
    --gs-black: #08000D;
    --gs-indigo: #6900FF;
    --gs-red-violet: #d2138e;
    --gs-dark-purple: #65009b;
    --gs-purple: #14002E;
    --gs-pink: #F236AF;
    --gs-blue: #005ff8;
    --gs-light-blue: #0b8aff;
}

