* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: .2px;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --white: #fff;
    --gs-black: #08000D;
    --gs-indigo: #6900FF;
    --gs-red-violet: #d2138e;
    --gs-dark-purple: #65009b;
    --gs-purple: #14002E;
    --gs-pink: #F236AF;
    --gs-blue: #005ff8;
    --gs-light-blue: #0b8aff;
    --gs-gray: #ccc;
}

:root {
    /* --top-spacing: calc( 133px + 0px ); */
    --top-spacing: calc(var(--top-nav-component-height, 0px) + var(--download-apps-banner-height, 0px));
    --bottom-spacing: var(--player-component-height, 0px);
}

:root {
    --player-component-height: 0px;
    --top-nav-component-height: 114px;
    --download-apps-banner-height: 0px;
}

.ngx-spinner-overlay {
    background-color: var(--gs-purple) !important;
}

.ngx-spinner-overlay>div:not(.loading-text) {
    top: 30% !important;
}