<gs-search-filters class="search-filters-container">
    <h3 class="categories-title">Categories</h3>
</gs-search-filters>

<div class="search-results vb-col-md-span-f1-t8 vb-col-lg-span-f4-t9">
    <ng-content select="."></ng-content>
    <ng-content select=".search-header"></ng-content>
    <ng-content select=".search-results-container"></ng-content>
    <ng-content select=".side-bar"></ng-content>
    <ng-content select=".play-button"></ng-content>
    <ng-content select=".right-content"></ng-content>
</div>
